.ticTacToeSquare {
  height: 3em;
  width: 3em;
  line-height: 3em;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  font-family: Tahoma, sans-serif;
}

.ticTacToeSquare[id$="2"] {
  border-top: solid 3px #666666;
  border-bottom: solid 3px #666666;
}

.ticTacToeSquare[id^="b"] {
  border-right: solid 3px #666666;
  border-left: solid 3px #666666;
}

.ticTacToeSquare.markable:hover {
  background-color: #66DD66;
}

.ticTacToeSquare.movePending {
  background-image: url("/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
}

.ticTacToeRow {
  padding: 0;
  margin: 0;
}

.ticTacToeSynopsis {
  margin-top: 1em;
}
